/* resume.css */

#resume-content-1 {
    background: #fff;
    padding: 1.5rem;
    padding-top: .8rem;

    color: #1a202c; /* Tailwind's gray-900 */
    min-height: 1122px;

   width: 794px;
    /* font-family: 'Times New Roman', Times, serif; */

    border: .5px solid #d1d5db; /* Tailwind's gray-300 */
    /* font-size: 0.875rem; */
    overflow: visible;
    position: relative;
  }
  
  #resume-content-1 h1 {
    font-size: 2.25rem; /* text-4xl */
    font-weight: bold;
  }

  #resume-content-1 .contact-row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0.2rem;
  }
  
  #resume-content-1 .contact-row p {
    margin: 0;
  }
  
  #resume-content-1 .address {
    margin-bottom: 0.2rem;
  }
  
  #resume-content-1 .summary {
    margin-bottom: 0.2rem;
    padding-left: 0;
  }
  
  #resume-content-1 hr {
  margin-top: 1rem;
    border-color: #d1d5db;
  }
  
  #resume-content-1 h2 {
    font-size: 1.625rem; /* text-[26px] */
    font-weight: 600;
    margin-top: 0.5rem;

  }
  
  #resume-content-1 .experience-entry {
    margin-bottom: 0.2rem;
  }
  
  #resume-content-1 .experience-entry .job-title {
    font-size: 1.125rem;
    font-weight: bold;
  }
  
  #resume-content-1 .company-location {
    text-transform: capitalize
  }

  #resume-content-1 .experience-entry .date-range {
    font-size: 1rem;
  }
  
  #resume-content-1 .experience-entry ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  
  #resume-content-1 .experience-entry li {
    /* font-size: 0.875rem; */
    margin-top: 0.25rem;
  }
  
  #resume-content-1 .skills-section {
       font-size: 1.125rem;
  }
  
  #resume-content-1 .skills-section span {

  }
  
  #resume-content-1 .education-entry {
    margin-bottom: 0.2rem;
  }
  
  #resume-content-1 .education-entry strong {
    font-weight: bold;
  }
  
  .project-entry {
    margin-bottom: 0.2rem;
  }
  .project-title {
    font-size: 1.125rem;
    font-weight: bold;
  }
  .project-tech {
    font-size: 1rem;
    
  }
  .project-entry ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  .project-entry li {
    /* font-size: 0.875rem; */
    margin-top: 0.25rem;
  }
  
  .danger-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(220, 38, 38, 0.3); /* red-600 with opacity */
    pointer-events: none;
    z-index: 10;
    transition: height 0.3s;
    border-bottom-right-radius: .9rem;
    border-bottom-left-radius: 0.9rem;

  }


  /* resume-editable.css */

.resume-editable-label {

  color: #1e293b; /* slate-800 */
  cursor: pointer;
  transition: text-decoration 0.2s;

}

.resume-editable-label:hover,
.resume-editable-label:focus {
  text-decoration: underline;
}

.resume-editable-input-1 {

  color: #1e293b;
  border: none;
  outline: none;
}

.resume-editable-input-heading-1 {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: left;

}

.resume-editable-input-experience-point {
  width: 100%;
}


.resume-header-name-1 {
  font-size: 2.5rem;
  font-weight: bold;


  width: 100%;
}

.resume-header-role-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.25rem;

  width: 100%;
}

.resume-editable-input-1.target-roles {

  font-size: 1.25rem; /* text-lg */
  margin-bottom: 0.25rem;


 
}