@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";



@tailwind utilities;

@theme {
  --font-primary-regular: "Cabin", "sans-serif";
 --color-primary-1 : #ffefba;
 --color-primary-1-dark: #8FAAFD;
 --font-arial : "Arial"



}

.bg-custom-gradient {
  background: linear-gradient(
    to right,
    var(--color-primary-1),
    var(--color-primary-1)


  );
}

.bg-custom-gradient-dark {
  background: linear-gradient(
    to right,
    var(--color-primary-1-dark),

    var(--color-primary-1-dark)
  );
}